html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  
    body {
      font-family: sans-serif;
      max-width: 600px;
      margin: 2rem auto;
      padding: 1rem;
      background-image: url('figs/introm.jpeg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      background-attachment: fixed;
      min-height: 100vh;
    }
      .navbar {
          display: flex;
          justify-content: space-between;
          padding: 20px;
          border-bottom: 1px solid #ddd;
      }
      
      .navbar a {
          margin-left: 20px;
          color: #222;
          text-decoration: none;
      }
  
    .container {
      font-family: sans-serif;
      max-width: 600px;
      margin: 2rem auto;
      padding: 1rem;
      background: rgba(255, 255, 255, 0.8); /* poloprůhledné pozadí pod obsahem */
      border-radius: 16px;
    }
  
    input {
      width: 100%;
      padding: 0.5rem;
      margin-bottom: 1rem;
      font-size: 1rem;
      box-sizing: border-box;
      border-radius: 16px;
      border: 1px solid #ccc;
    }
  
    li {
      margin-bottom: 0.5rem;
    }
  
    h1 {
      font-size: 50px;
      text-align: center;
      font-family: cursive;
    }
  
    a {
      text-decoration: none; 
      color: #050505;       
      font-size: 25px;
    }
  
    a:link {
      color: #050505;     
    }
  
    a:visited {
      color: #ffe601; 
    }
  
    a:hover {
      color: #c5b416;        
      text-decoration: underline; 
    }
  
    a:active {
      color: #e0630f; 

    }
