body {
  font-family: sans-serif;
  color: #e7e2e2;
  max-width: 600px;
  margin: 2rem auto;
  padding: 1rem;
  background-image: url('../figs/l1b.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
}

pre {
  font-family: inherit;
  color: #e7e2e2;
  margin: 0;
  font-size: 22px;  
  line-height: 1.1;

}

h1{
  font-size: 50px;
  text-align: center;
  font-family: cursive;
  color: #ffe601;
}
/*
#chords {

  color: #ff0101;
  margin-top: 2rem;
}
*/
#chords_header {
  color: #ffe601;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: #e7e2e2;
}

a:link,
a:visited {
  color: #e7e2e2;
}

a:hover {
  color: #c5b416;
  text-decoration: underline;
}

a:active {
  color: #e0630f;
}
