body {
    font-family: sans-serif;
    color: #e7e2e2;
    background-image: url('../figs/l1b.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    background-attachment: fixed;
    /* Důležité: Odstraňte max-width, margin a padding */

}


/* NAVBAR – přes celou šířku */
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(6px);
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    position: sticky;  /* optional: přilepený při scrollu */
    top: 0;
    z-index: 10;
}

.navbar a {
    margin-left: 20px;
    color: #222;
    text-decoration: none;
    font-weight: 600;
}
.container {
    /* 1. Omezuje šířku pro lepší čitelnost */
    max-width: 600px;
    
    /* 2. CENTROVÁNÍ: Nastaví automatický okraj na levé a pravé straně */
    margin: 2rem auto;

}

pre {
  font-family: inherit;
  color: #e7e2e2;
  margin: 0;
  font-size: 22px;  
  line-height: 1.1;

}

h1{
  font-size: 50px;
  text-align: center;
  font-family: cursive;
  color: #ffe601;
}
/*
#chords {

  color: #ff0101;
  margin-top: 2rem;
}
*/
#chords_header {
  color: #ffe601;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: #e7e2e2;
}

a:link,
a:visited {
  color: #e7e2e2;
}

a:hover {
  color: #c5b416;
  text-decoration: underline;
}

a:active {
  color: #e0630f;
}
.navbar a {
    color: #050505; /* Téměř černá barva */
    font-weight: 600;
    text-decoration: none;
}

/* Zajišťuje, že navštívené odkazy (visited) uvnitř navbaru zůstanou černé */
.navbar a:visited {
    color: #050505; 
}

/* Nastavte barvu při najetí myší (hover) na jinou, aby uživatel viděl, že je odkaz aktivní */
.navbar a:hover {
    color: #c5b416; /* Příklad: Změní barvu na žlutou při najetí */
    text-decoration: underline;
}
